@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 100px;
}

/* pencil */
.pencil {
    display: flex;
    justify-content: space-between;
    padding: 14px 0;
}

.pencilmain {
    background-color: #EF6A25;

}

.s1 {
    color: #FFFFFF;
    font-family: "Roboto Condensed", sans-serif;
}

.s2 {
    color: #FFFFFF;
    font-family: "Roboto Condensed", sans-serif;
}

.s3 {
    color: #FFFFFF;
    font-family: "Roboto Condensed", sans-serif;

}

.s4 {
    color: #FFFFFF;
    font-family: "Roboto Condensed", sans-serif;

}

.toggle-btn input {
    display: none;
}

.right {
    display: flex;
    gap: 15px;
    align-items: center;
}

.toggle-btn label {
    display: block;
    position: relative;
    width: 59px;
    height: 28px;
    background: #c4c4c4;
    border-radius: 30px;
    cursor: pointer;
}

.toggle-btn label::before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    width: 21px;
    height: 21px;
    border-radius: 30px;
    left: 3px;
    transform: translateY(-50%);
    background: #373737;
    transition: all 0.3s ease-in-out;

}

.toggle-btn input:checked+label::before {
    left: 35px;

}

/* search bar */
.head-logo {
    padding: 14px 0;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.head .hearder-section .search-input {
    background-color: #F7F7F7;
    font-family: "Roboto Condensed", sans-serif;
}

.head .hearder-section .find-submit {
    padding: 17px 43px 17px 44px;
    border-radius: 5px;
    background-color: #EF6A25;
    color: #FFFFFF;
    position: absolute;
    right: 0;
}

.dnone {
    display: none;
}

.hearder-section .search-input {
    width: 832px;
    padding: 16px 120px 16px 68px;
    font-size: 14px;
    font-weight: 300;
    line-height: 16.41px;
    color: #00000059;
    background: url(./img/search\ Icon.png) no-repeat;
    background-position: 12px 12px;

}

.hearder-section form {
    border-radius: 5px;
    border-color: #F7F7F7;
    position: relative;
    padding-right: 0;

}



/* account */
.my-account-main {
    display: flex;
}

.select-acc {
    font-family: "Roboto Condensed", sans-serif;
    color: #000000;
    line-height: 18.75px;
}


/* cart */
.cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item {
    padding: 46px 53px;
    font-family: "Roboto Condensed", sans-serif;
}

.cart-item p {
    color: #3753AF;
}

.cart-item span {
    color: #000000;
}

/* nav-bar */
.nav-bar {
    display: flex;
    gap: 71px;
    text-align: center;
}